#skills__text {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  transition: color 0.3s, font-size 0.3s;
  padding-top: 8%;
  padding-bottom: 1%;
  color: linear-gradient(43deg, #4158d0, #c850c0, #ffcc70);
}

#skills__text:hover {
  font-size: 24px;
 
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.skills-container {
  display: flex;
  flex-wrap: wrap; /* Ensure items wrap on smaller screens */
  justify-content: center;
  align-items: center;
  gap: 20px; /* Increased gap between skill items */
  padding: 20px;
}

.skill-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px; /* Adjust width */
  height: 80px; /* Adjust height */
  border-radius: 50%;
  background-color: #e5e5e8;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.skill-item:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.8);
}

.icon {
  font-size: 50px; /* Adjust icon size */
  color: #fff;
  transition: color 0.3s;
}

.react {
  color: #61dafb;
}

.html {
  color: #e34c26;
}

.springboot {
  color: #6db33f;
}

.postman {
  color: #ff6c37;
}

.css3 {
  color: #2965f1;
}

.git {
  color: #000;
}

.mysql {
  color: #00758f;
}

.java {
  color: #5382a1;
}

.oracle {
  color: #f80000;
}
.aws { color: #FF9900; }
.docker { color: #2496ED; }
.kubernetes { color: #326CE5; }
.jenkins { color: #D24939; }
.line {
  width: 2px;
  height: 50px;
  background: linear-gradient(to bottom, #ff0000, #00ff00);
  margin: 20px auto;
}

.cards-container {
  display: flex;
  flex-wrap: wrap; /* Ensure cards wrap on smaller screens */
  justify-content: center;
  gap: 20px; /* Increased gap between cards */
  padding: 20px; /* Add padding around the cards container */

}

.custom-card {
  height: 300px;
  width: 600px; /* Adjusted width for better fit */
  padding: 10px;
  position: relative;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 0; /* Remove the default padding */
  margin: 0; /* Remove the default margin */
  /* background-image: linear-gradient(43deg, #1C59A4, #71018B 46%, #0B5194); */
  background-image: linear-gradient(43deg, #336eb6, #71018B 46%, #0B5194);
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  color: #fff; /* Updated text color to white */
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  background-image: linear-gradient(43deg, #4158d0, #c850c0 46%, #ffcc70);
  color: #fff;
}
