/* General container for home section */
.home-container {
  display: flex;
  flex-wrap: wrap; /* Ensure it wraps on smaller screens */
  align-items: flex-start;
  justify-content: space-between;
  height: auto; /* Adjust height to fit content */
  padding: 20px; /* Adjust padding */
  box-sizing: border-box; /* Include padding in element's total width and height */
}

/* Styling for the left section */
.left-section {
  flex: 1;
  padding-top: 8%;
  padding-left: 5%;
  /* Ensure left section takes up appropriate width */
  max-width: 100%;
  box-sizing: border-box;
}

/* Styling for the right section */
.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 8%;
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.5;
  /* Ensure right section takes up appropriate width */
  max-width: 100%;
  box-sizing: border-box;
}


/* Ensure button are responsive */
.home__cv {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-image: linear-gradient(43deg, #4158d0, #c850c0 46%, #ffcc70);
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 1;
}


/* Styling for the name header */
.home__name {
  font-size: 2.5rem; /* Responsive font size */
  margin-bottom: 10px;
  color: #fff;
  position: relative;
  overflow: hidden;
  white-space: nowrap; /* Prevent text from wrapping */
  border-right: 3px solid #fff; /* Typing effect */
  animation: typing 2s steps(30, end), blink-caret 0.75s step-end infinite;
}


/* Animation for typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Animation for blinking caret */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #fff; }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column; /* Stack sections vertically on smaller screens */
  }

  .left-section, .right-section {
    flex: none;
    width: 100%; /* Full width on smaller screens */
    padding: 0; /* Remove padding for better spacing */
  }

  .home__name {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }
}
